{% extends "core/base.html" %}
{% load i18n %}
{% block content %}
    <nav class="text-center">
        <div>
            <ul class="pagination">
                <li{% if letter == 'all' %} class="active"{% endif %}>
                    <a href="{% url 'ldap_display_filter' order letter %}">all</a>
                </li>
                {% for l in alphabet %}
                    <li{% if letter == l %} class="active"{% endif %}>
                        <a href="{% url 'ldap_display_filter' order l %}">{{ l }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group row">
            <span class="col-md-offset-4 col-md-4 col-ld-offset-4">
                <button type="button" id="natural-order" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                </button>
                <button type="button" id="reverse-order" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </nav>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>{% trans 'login42'|capfirst %}</th>
            <th>{% trans 'prenom'|capfirst %}</th>
            <th>{% trans 'nom'|capfirst %}</th>
            <th>{% trans 'birthday'|capfirst %}</th>
            <th>{% trans 'phone'|capfirst %}</th>
        </tr>
        </thead>
        {% for user in annuaire %}
            <tr>
                <td>
                    <img src="
                        {% if user.avatar %}
                            data:image/jpeg;base64,{{ user.avatar }}
                        {% else %}
                            https://intra.42.fr/static7165/img/nopicture-profilview.png
                        {% endif %}
                    " class="img-circle" height="50" widtrh="50">
                </td>
                <td>{{ user.uid }}</td>
                <td>{{ user.givenName }}</td>
                <td>{{ user.sn }}</td>
                <td></td>
                <td>{{ user.mobile }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            var split_url = location.pathname.split('/');
            $('#natural-order').click(function () {
                if (split_url[3] == 'reverse') {
                    url = location.pathname.replace("reverse", "natural");
                    window.location.href = url;
                }
            });
            $('#reverse-order').click(function () {
                if (split_url[3] == 'natural') {
                    url = location.pathname.replace("natural", "reverse");
                    window.location.href = url;
                }
            });
        });
    </script>
{% endblock %}