{% extends "core/base.html" %}
{% load i18n %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>{% trans 'login42'|capfirst %}</th>
            <th>{% trans 'nom'|capfirst %}</th>
            <th>{% trans 'prenom'|capfirst %}</th>
            <th>{% trans 'birthday'|capfirst %}</th>
            <th>{% trans 'phone'|capfirst %}</th>
        </tr>
        </thead>
        {% for user in annuaire %}
            <tr>
                <td><img src="data:image/jpeg;base64,{{ user.avatar }}" class="img-circle" height="50" widtrh="50"></td>
                <td>{{ user.uid }}</td>
                <td>{{ user.sn }}</td>
                <td>{{ user.givenName }}</td>
                <td></td>
                <td>{{ user.mobile }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}