{% extends "core/base.html" %}
{% load i18n %}
{% block content %}
    <nav class="text-center">
        <ul class="pagination">
            <li class="disabled"></li>
            {% for l in alphabet %}
                {% if letter == l %}
                    <li class="active">{{ l }}</li>
                {% else %}
                    <li><a href="{% url 'ldap_display_filter' l order %}">{{ l }}<span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    filter by year<br/>
    filter by year<br/>
    riverse_display<br/>
    random mode
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>{% trans 'login42'|capfirst %}</th>
            <th>{% trans 'nom'|capfirst %}</th>
            <th>{% trans 'prenom'|capfirst %}</th>
            <th>{% trans 'birthday'|capfirst %}</th>
            <th>{% trans 'phone'|capfirst %}</th>
        </tr>
        </thead>
        {% for user in annuaire %}
            <tr>
                <td><img src="data:image/jpeg;base64,{{ user.avatar }}" class="img-circle" height="50" widtrh="50"></td>
                <td>{{ user.uid }}</td>
                <td>{{ user.sn }}</td>
                <td>{{ user.givenName }}</td>
                <td></td>
                <td>{{ user.mobile }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}