{%  extends 'core/base.html' %}
{% load i18n %}
{% block content %}
    <div class="jumbotron">
        {%  if errors %}
            {%  for k, v in errors.items %}
                <div class="alert alert-danger" role="alert">
                    {{ v }}
                </div>
            {%  endfor %}
        {% endif %}
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">{{ form.username.label|capfirst }} </label>
                {{ form.username }}
            </div>
            {%  if error.username %}
                <p class="alert alert-danger" role="alert">{{ error.user|capfirst }}</p>
            {%  endif %}
            <div class="form-group">
                <label for="id_email">{{ form.email.label|capfirst }} </label>
                {{ form.email }}
            </div>
            {%  if error.email %}
                <p class="alert alert-danger" role="alert">{{ error.email|capfirst }}</p>
            {%  endif %}
            <div class="form-group">
                <label for="id_password">{%  trans 'password'|capfirst %} </label>
                {{ form.password }}
            </div>
            {%  if error.pass %}
                <p class="alert alert-danger" role="alert">>{{ error.pass|capfirst }}</p>
            {%  endif %}
            <div class="form-group">
                <label for="id_password_conf">{%  trans 'password_conf'|capfirst %} </label>
                {{ form.password_conf }}
            </div>
            {%  if error.pass %}
                <p class="alert alert-danger" role="alert">>{{ error.pass|capfirst }}</p>
            {%  endif %}
            <div class="form-group">
                <input type="submit" value="{% trans 'register'|capfirst %}" class="btn btn-primary btn-lg btn-block" />
            </div>
        </form>
    </div>
{% endblock %}
