{%  extends 'core/base.html' %}
{% load i18n %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{%  url 'forum' %}">{% trans 'forum' %}</a></li>
        <li><a href="{%  url 'cat' cat.slug %}">{{ cat.Name }}</a></li>
        {%  if edit %}
            <li class="active">{% trans "edit_topic" %}</li>
        {%  else %}
            <li class="active">{% trans "new_topic" %}</li>
        {%  endif %}
    </ol>
    {%  if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    {%  if info %}
        <div class="alert alert-success" role="alert">
            {{ info }}
        </div>
    {% endif %}
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_Title">{{ form.Title.label|capfirst }} </label>
            {{ form.Title }}
        </div>
        <div class="form-group">
            <label for="id_Message">{{ form.Message.label|capfirst }} </label>
            {{ form.Message }}
        </div>
        <div class="form-group">
            <input type="submit" value="{% trans 'create_topic'|capfirst %}" class="btn btn-primary btn-lg btn-block" />
        </div>
    </form>
{%  endblock %}
