{% extends "core/base.html" %}{% block content %}
<div class="jumbotron">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, dolor, voluptatem! Magni vitae, consequuntur sequi numquam possimus, ducimus praesentium perspiciatis maxime suscipit qui veniam dolor? Tenetur, quae soluta quam deleniti?</p>
    <p>Atque, molestias soluta dignissimos reiciendis autem. Obcaecati facere dolorem sit rem nobis nesciunt minus aliquid totam. Quod, voluptate voluptatibus veritatis harum hic unde eaque necessitatibus quae ea sequi exercitationem sapiente.</p>
    <p>In, necessitatibus dolores voluptatem incidunt architecto earum quia provident eaque, porro dolorem accusamus nisi quo molestias. Cupiditate, eos dolorem commodi accusamus, corporis temporibus suscipit velit nisi libero magni officia ea.</p>
    <p>Voluptatem illum saepe totam hic error fugiat adipisci, enim odio consequuntur impedit iure dolorem tempore temporibus qui eveniet dolores voluptatibus tempora magnam alias itaque fuga expedita dolore laborum eligendi. Qui!</p>
    <p>Molestias enim rerum deserunt ab a nostrum totam, dolorem odio quidem, eaque optio. Dolores ducimus at nemo quam cum quo quis aspernatur cupiditate nisi, sit odit id laborum, sed numquam.</p>
    <p>Excepturi error, id saepe modi sunt odio quo perspiciatis dolor pariatur cumque illo, accusantium fugiat ab, ea. Eius, quod iure, mollitia placeat officiis suscipit, saepe, similique molestias pariatur quo aliquid?</p>
</div>
{% endblock %}
