{% extends "core/base.html" %}
{% load i18n %}
{% block content %}
    <blockquote class="blockquote">
        <span>{% trans 'contact'|capfirst %}</span>
        <form action="{% url 'send_contact' %}" method="post">
            {% csrf_token %}
            <p>{{ formcontact.email.label|capfirst }} : {{ formcontact.email }}</p>
            <p>{{ formcontact.subject.label|capfirst }} : {{ formcontact.subject }}</p>
            <p>{{ formcontact.message.label|capfirst }} : {{ formcontact.message }}</p>
            <input type="submit" value="{% trans 'send_message' %}" class="btn btn-default navbar-btn pull-right" />
        </form>
    </blockquote>
{% endblock %}

