{% extends "core/base.html" %}
{% load i18n %}
{% block content %}
    <blockquote class="blockquote">
        <span>{% trans 'contact'|capfirst %}</span>
        {% if success.message %}
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        {{ success.message }}
                    </div>
                </div>
            </div>
        {% else %}
            {% if errors %}
                {% for k, v in errors.items %}
                    <div class="alert alert-danger" role="alert">
                        {{ v }}
                    </div>
                {% endfor %}
            {% endif %}
            <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                {% if user.is_authenticated == False %}
                    <p>{{ formcontact.email.label|capfirst }} : {{ formcontact.email }}</p>
                {% endif %}
                <p>{{ formcontact.subject.label|capfirst }} : {{ formcontact.subject }}</p>

                <p>{{ formcontact.message.label|capfirst }} : {{ formcontact.message }}</p>
                <input type="submit" value="{% trans 'send_message' %}"
                       class="btn btn-primary btn-lg btn-block pull-right"/>
            </form>
        {% endif %}
    </blockquote>
{% endblock %}

